<!DOCTYPE html>
<html lang="en">
<head>
    {% include "registrationhome/registrationheader.html" %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <meta charset="UTF-8">
    <title>Student login</title>
</head>
<body>
    <form>
        <table>
            <tr>
                <td>
                    <br>
                    <h2>You can register in the application...</h2>
                    <br>

                </td>
            </tr>
            <br>
            <br>
            <tr>
            <td>
                <!--<a href="{% url 'viewfestdetails:Festurl' %}">View Fest Details
                    </a> -->
                <br>
            </td>
            </tr>
            <tr>
            <td>
                <!--<a href="{% url 'complaintreg:ComplaintregForm' %}">Register complaints
                    </a> -->

                <br>

            </td>
            </tr>

            <tr>
            <td>
                <!-- <a href="{% url 'feedback:FeedbackForm' %}">Register Feedback
                    </a> -->

                <br>

            </td>
            </tr>
        </table>
    </form>
    <br>
    <br>
    <br>
    <br>
{% include "Footer.html" %}
</body>
</html>