<html lang="en">
<head>
    {% include "Header.html" %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
{% for obj in data %}
 <table align="center" width="50%" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">
     <tr>  <td>Complaint id</td><td>{{ obj.id }}</td></tr>
     <tr>  <td>Student id</td><td>{{ obj.stud_id }}</td></tr>
     <tr>  <td>Complaint description</td><td>{{ obj.comp_desc }}</td></tr>
     <tr>  <td>Complaint_date</td><td>{{ obj.comp_date }}</td></tr>
     <tr>
         <td>
         <a href="{% url 'viewcomplaint:verify_details' pk=obj.id %}">Verify
         </a>
         </td>
     </tr>

     <tr>
         <td>
         <a href="{% url 'viewcomplaint:reject_details' pk=obj.id %}">Reject
         </a>
         </td>
     </tr>

      </table>
 <br>
 <br>
 <br>





    {% endfor %}
<br>
{% include "Footer.html" %}
</body>
</html>