<!DOCTYPE html>
<html lang="en">
<head>
    {% include "clgcoordloginhome\coordloginheader.html" %}
    <meta charset="UTF-8">
    <title>College Coordinator Login</title>
</head>
<body>
    <form>
        <table>
            <tr>
                <td>
                    <br>
                    <br>
                    <br>
                    <h3>
                        Successfully Logged in....
                    </h3>
                </td>
            </tr>
            <br>
            <br>
           <tr>
                <td>
                    <br>
                    <!--<a href="{% url 'festadd:FestaddForm' %}">Adding Fest Details
                    </a>
                    <br>
                    <a href="{% url 'eventadd:EventaddForm' %}">Adding Event Details
                    </a>-->
                    <br>
                </td>
            </tr>
        </table>
    </form>
<br>
<br>
{% include "Footer.html" %}
</body>
</html>