<!DOCTYPE html>
<html lang="en">
<head>
     {% include "Header.html" %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <meta charset="UTF-8">
    <title>College Coordinator Login</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <table align="center">
         <tr>
            <td>
                <h2>
                    Coordinator Login
                </h2>
            </td>
        </tr>
        <tr>
            <td>
                Username:
            </td>
            <td>
                {{ form.username}}
            </td>
        </tr>

        <tr>
            <td>
                Password:
            </td>
            <td>
                {{ form.password}}
            </td>
        </tr>

        <tr align="center">
            <td>
                <button type="submit">Login</button>
            </td>
        </tr>
    </table>
</form>
<br>
<br>
<br>
{% include "Footer.html" %}
</body>
</html>